@import url('https://fonts.googleapis.com/css?family=Abril+Fatface&subset=latin-ext');
body {
   background: rgb(34,193,195);
   background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
   font-family: 'Abril Fatface',cursive;
}

#quote-box {
   position: absolute;
   top: 28%;
   left: 10%;
   right: 10%;
   width: 80%;
   line-height: .5;
}

.quote {
   font-size: 250%;
   font-weight: 400;
   line-height: 1.1;
   position: relative;
   margin: 0;
}

.quote:before, quote:after {
   font-size: 4rem;
   line-height: 2.5rem;
   position: absolute;
}

.quote:before {
   content: "";
   top: .15em;
   left: -.5em;
}

.quote:after {
   content: "";
   bottom: -.1em;
   margin-left: .1em;
   position: absolute;
}

.source {
   font-size: 150%;
   letter-spacing: 0.05em;
   line-height: 2.0;
   text-align: right;
   margin-right: 5em;
}

.source:before {
   content: "-";
}

#viewQuote {
   position: fixed;
   width: 12em;
   display: inline-block;
   left: 50%;
   margin-left: -6em;
   bottom: 100px;
   border-radius: 4px;
   border: 2px solid rgb(243, 186, 0);
   color: rgb(25, 221, 235);
   background-color: #fff;
   padding: 15px 0;
   transition: .5s;
}

#viewQuote:hover {
   background-color: rgba(179, 179, 179, 0.1);
   border: 2px solid #fff;
}

#viewQuote:focus {
   outline: none;
}


